bin/
build/
injector/build/
panel-csharp/bin/
panel-csharp/obj/
driver/bin/
driver/obj/
*.user
.vs/
**/x64/
**/Release/
**/Debug/
**/*.tlog/
**/*.recipe
**/*.lastbuildstate
**/CMakeCache.txt
**/CMakeFiles/
*.vcxproj.user
